.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    height: 60px;
    top: 0;
    z-index: 1000;
    width: 100%;
    background-color:#B1D4E0;
}

.homeHeader-logo {
    height: 45px;
    object-fit: contain;
    margin-top: 4.3px;
    margin-left: 4.3px;
}

.homeHeader-inputSearch {
    display: flex;
    align-items: center;
    width: 40%;
    float: left;
}

.navbar > .homeHeader-inputSearch > input {
    width: 300px;
    height: 30px;
}

.homeHeader-inputButton {
    width: 50px ! important;
    color: gray;
    border: none;
}

.homeHeader-inputButton > input {
    display:flex;
    border:none;
    height:30px;
}

section .homeHeader-avatar {
    height: 30px ! important;
    width: 30px ! important;
    margin-right: 8px;
}

.homeHeader-icons section {
    display: flex;
    align-items: center;
}

.homeHeader-icons {
    display: flex;
    align-items: center;
}

.homeHeader-name {
    display: flex;
    font-weight: 700;
    font-family:'Courier New', Courier, monospace;
    font-size: 12px;
    line-height: 28px;
    color: black;
    margin-right: 5px;
    margin-left: 5px;
}

.homeHeader-dash {
    margin-right: 4px;
    margin-left: 5px;
    opacity: 0.1;
}

.navbar section:hover {
    background-color: rgb(56, 125, 165);
    cursor: pointer;
}

.navbar section {
    transition: 0.2s;
}

.navbar section button {
    margin-right: 4px;
    margin-left: 5px;
    background-color: transparent;
    border: none;
    transition: 0.2s;
}

.navbar section button:hover {
    background-color: rgb(56, 125, 165);
    cursor: pointer;
}
