.home-page {
    padding: 10px;
}

.post-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}

.page-title {
    padding: 0.5rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-bottom: 1px solid #ddd;
    font-family:'Courier New', Courier, monospace;
}