.sidebar-right {
    flex: 1;
    margin-left: 30px;
    margin-top: 30px;
}

.sidebar-right-language {
    background-color: lightgray;
    border: 1px solid rgba (199, 199, 199, 0.63);
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    margin-right: 80px;
}

.sidebar-right-language p {
    font-family:'Courier New', Courier, monospace;
    font-size: 13px;
    color: navy;
}

.sidebar-right-language p:hover {
    cursor: pointer;
}

.sidebar-right-selected {
    color: black ! important;
}

.sidebar-right-policies {
    color: gray;
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin-top: 10px;
    font-family:'Courier New', Courier, monospace;
    font-size: 13px;
}

.copyright {
    color: #444;
    font-family:'Courier New', Courier, monospace;
    font-size: 13px;
}